<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Canopy Suite" parallel="tests" thread-count="2">


    <test name="Automation Task Test">
        <parameter name="browser" value="Chrome"/>
        <packages>
            <package name="runner"/>
        </packages>
    </test>

</suite>